#map{
    height: 380px;
}

.carousel{
  position: absolute !important;
  top: -55px;
  left: 0;
}
.carousel .overlay{
    width: 100%;
    height: 100%;
    max-height: 500px;
    background-color: #000;
    opacity: 0.45;
    position: absolute;
    z-index: 20;
}

.carousel .lnr{
    font-size:35px;
    line-height: 660px;
}
.carousel-caption{
  position: absolute;
  right: 15%;
  top: 20%;
  left: 15%;
  z-index: 10;
  padding-bottom: 20px;
  color: #fff;
/*  text-align: center;*/
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    width: 505px;
}
.carousel-caption h3{
    text-align: left;
    font-size: 48px;
    margin-bottom: 30px;
    width: 95%;
}
.carousel-caption p{
    text-align: left;
    font-size: 18px;
}

.slider-size {
height: 500px; /* This is your slider height */
/*
background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
*/
}
.carousel {
width:100%; 
margin:0 auto; /* center your carousel if other than 100% */ 
}

header .main-title h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 15px;
}
#container .content{
    max-width: 1170px;
    width: 95%;
    margin: 0 auto; 
    overflow: hidden;
}
.location-box .adress-box .title{
    width: 359px;
    font-size: 32px;
    margin: 10px 0;
    padding-top: 20px;  
}
.location-box .adress-box hr{
   max-width: 220px;
    height: 2px;
    background-color: #00936e;
    margin: 5px 0;  
}
.location-box{
    width: 100%;
    overflow: hidden;
    margin: 0 0 40px;
}
.location-box .adress-box{
    width: 50%;
    float: left;
    font-size: 18px;
}
.location-box .adress-box .addres{
    width: 70%;
    float: left;
    margin: 25px 0 0;
    text-align: left;
}
.location-box .adress-box .tel{
    width: 60%;
    float: left;
    margin: 25px 0 0;
    text-align: left;
}
.location-box .adress-box .tel p{
    margin: 0;
}
.location-box .adress-box .mail{
    width: 60%;
    float: left;
    margin: 30px 0 0;
    text-align: left;
}
.location-box .adress-box .mail a{
    color: #03b689;
    text-decoration: none;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    text-align: center;
}
.location-box .adress-box a:hover{
    color: #00936e;
    text-decoration: none;
}



.location-box .location{
     width: 50%;    
    float: left;
}
.location-box .location .title{
    width: 359px;
    font-size: 32px;
    margin: 10px 0;
    padding-top: 20px;  
}
.location-box .location hr{
   max-width: 220px;
    height: 2px;
    background-color: #00936e;
    margin: 5px 0;  
}
.location-box .location p{
   font-size:18px;
    margin: 25px 0;
}
.location-box .location table{
   border: 1px solid #999;
    width: 100%;
    font-size: 18px;
}
.location-box .location table tr{
   border: 1px solid #999;
}
.location-box .location table td{
    border: 1px solid #999;
   padding: 5px;
    
}
.answers{
    width: 100%;
}
.answers .contact-map{
    width: 50%;
    float: left;
    padding: 0 40px 0 0px;

}
.answers .ask-us{
    width: 50%;
    float: left;
   
}
.answers .ask-us .ask-title{
    font-size: 24px;
    font-family: PT Sans ,sans-serif;
    text-align: left;
    color: #000;
    margin: 5px 0;
}
.answers .ask-us form{
    width: 100%;
    margin: 0 auto;
}
.answers .ask-us form input[type='text']{
    width: 48%;
    padding: 10px 8px;
    border: 1px solid #999;
    margin-bottom: 20px;
    margin-right: 1%;
    position: relative;
}
.answers .ask-us form textarea{
    width: 100%; 
}
.answers .ask-us form input[type='submit']{
    background-color:#03b689;
    width: 50%;
    height: 45px;
    margin-top: 20px;
    color: #fff;
/*    float: right;*/
    border-color: transparent;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
}
.answers .ask-us form input[type='submit']:hover{
    background-color:#00936e;
}





@media screen and (max-width: 1200px) {
   
}
@media screen and (max-width: 1024px) {
   
}
@media screen and (max-width: 801px) { 
    #container .content {
    padding: 40px 0px 0;
}
    .location-box .adress-box {
    width: 45%;
}
}

@media screen and (max-width: 769px) { 
 .location-box .adress-box{
     width: 100%;
}
    .location-box .location{
     width: 100%;
}
    .answers .contact-map{
    width:100%;  
        padding: 0;
}
.answers .ask-us{
   width:100%;
    padding: 0;
    margin: 40px 0;
}
    .answers .ask-us form input[type='submit']{
    background-color:#03b689;
    max-width: 150px;
    height: 45px;
    margin: 20px auto;
    
}
}

@media screen and (max-width: 480px) {
    .title{
    font-size: 20px;
    }
  .location-box .location table{
      width: 90%;
    font-size: 14px;
}
    .answers .ask-us form input[type='submit']{
    background-color:#03b689;
    width: 100%;
    height: 45px;
    margin: 20px auto;
    
}
    footer {
     margin-top: 0px; 
}

}